body {
    font-family: "Monserrat", sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: clamp(200px, 70%, 800px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

input[type="text"] {
    width: clamp(200px, 80%, 300px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: clamp(16px, 1.5vw, 18px);
    text-align: center;
}

button {
    background: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: clamp(16px, 1.5vw, 18px);
}

.result.success {
    color: #28a745;
}

.result.error {
    color: #dc3545;
}

.informacion {
    font-size: clamp(10px, 1.5vw, 18px);
}